<!DOCTYPE html>


<head>
<link rel="stylesheet" href="/stylesheets/style2.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> 
<title> 
Movie Party
</title>
</head>

<body>
	<% @movies.each do |movie| %>
			<div class="result_box"> 
				<ul> 
					<a href="/movie/<%=movie['imdbID']%>"><%= movie["Title"] + " " + "(" + movie["Year"] + ")"%> </a>
			</ul> 
			<% end %>
		</div>


<footer>
</footer>

</body>
